<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
         <!-- visitor start -->
         <div class="container-fluid mb-2">
          <div class="float-right">
            <button class="btn btn-success">Edit</button>&nbsp;
            <button class="btn btn-primary">Report</button>
          </div>
          <div class="float-left">
            <input type="text" class="form-control">
          </div>
          <button class="btn btn-primary">Search</button>
        </div>
        <div class="col-xl-12 col-md-12">

            <div class="card text-white m-b-0">

              <!-- unactive -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>status</th>
                      <th>id_ticket</th>
                      <th>idticket_cod</th>
                      <th>dose</th>
                      <th>cvi_ref</th>
                      <th>vaccine_id</th>
                      <th>name</th>
                      <th>lastname</th>
                      <th>id_location</th>
                      <th>date</th>
                      <th>time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-danger">unactive</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>

                <div></div>
                <!-- active -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>status</th>
                      <th>id_ticket</th>
                      <th>idticket_cod</th>
                      <th>dose</th>
                      <th>cvi_ref</th>
                      <th>vaccine_id</th>
                      <th>name</th>
                      <th>lastname</th>
                      <th>id_location</th>
                      <th>date</th>
                      <th>time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-success">active</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    <!-- Main-body end -->

</div>
</div>
