<div class="pcoded-content">
  <div class="pcoded-inner-content">
      <!-- Main-body start -->
       <!-- visitor start -->
       <div class="container-fluid mb-2">
        <div class="float-right">
          <button class="btn btn-success">Edit</button>&nbsp;
          <button class="btn btn-primary">Report</button>
        </div>
        <div class="float-left">
          <input type="text" class="form-control">
        </div>
        <button class="btn btn-primary">Search</button>
      </div>
      <div class="col-xl-12 col-md-12">

        <div class="container">

          <div class="items">

            <div class="items-head">
              <p>ລະຫັດບັດຄິວລະຫັດບັດຄິວ</p>
              <hr>
            </div>

            <div class="items-body">
              <ul class="list-group">
                <li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li>
                <li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li><li class="list-group-item" >
                  ລະຫັດບັດຄິວ:<p>ssssssssss</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  <!-- Main-body end -->

</div>
</div>
